<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="first_name-field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
</div>

<div class="last_name-field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
</div>

<div class="gender-field">
  <%= form.label :gender %>
  <%= form.search_field :gender %>
</div>

<div class="birthdate-field">
  <%= form.label :birthdate %>
  <%= form.date_field :birthdate %>
</div>

<div class="contact_number-field">
  <%= form.label :contact_number %>
  <%= form.telephone_field :contact_number %>
</div>

<div class="description-field">
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>

<div class="country-field">
  <%= form.label :country %>
  <%= form.search_field :country %>
</div>