<h1>Hello</h1>
Add more of your details
<%= form_for @user do |form| %>

  <div class="avatar-field">
    <%= image_tag(@user.avatar_url) if @user.avatar? %>
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div class="first_name-field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="last_name-field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="birthdate-field">
    <%= form.label :birthdate %>
    <%= form.date_field :birthdate%>
  </div>

  <div class="gender-field">
    <%= form.label :gender %>
    <%= form.select :gender, [['Male', 'M'], ['Female', 'F'], ['Others', 'O']] %>
  </div>

  <div class="description-field">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div class="country-field">
    <%= form.label :country %>
    <%= form.country_select :country %>
  </div>

  <div class="contact_number-field">
    <%= form.label :contact_number %>
    <%= form.text_field :contact_number %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>
  <%end%>
