
<strong>Dates</strong>:
<%= form.text_field :datefilter, placeholder: 'Check In - Check Out'%>


<div class="pax-field">
  <%= form.label :pax %>
  <%= form.number_field :pax, in:1.0..20.0, step: 1.0 %>
</div>

<div class="comments-field">
  <%= form.label :comments %>
  <%= form.text_field :comments %>
</div>
