<div class="check_in_date-field">
  <%= form.label :check_in_date %>
  <%= form.date_field :check_in_date %>
</div>

<div class="check_out_date-field">
  <%= form.label :check_out_date %>
  <%= form.date_field :check_out_date %>
</div>

<div class="pax-field">
  <%= form.label :pax %>
  <%= form.number_field :pax, in:1.0..20.0, step: 1.0 %>
</div>

<div class="comments-field">
  <%= form.label :comments %>
  <%= form.text_field :comments %>
</div>

<strong>Dates</strong>


<input name='datefilter' type='text' class='fancydate' value="">


<script type="text/javascript">
$(function() {

  $('input[name="datefilter"]').daterangepicker({
      autoUpdateInput: false,
      locale: {
          cancelLabel: 'Clear'
      }
  });

  $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
  });

  $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
  });

});
</script>
