<h3>One specific reservation</h3>


<% @reservation_booker = User.find(@reservation.user_id)%>
<% @reservation_host = User.find(@reservation_listing.user_id)%>

  <p>Reservation ID: <%=@reservation.id%></p>
  <p>Booker: <%=@reservation_booker.first_name%> <%=@reservation_booker.last_name%></p>
  <p>Host: <%=@reservation_host.first_name%> <%=@reservation_host.last_name%></p>
  <p>Address: <%=@reservation_listing.address%></p>
  <p>Country: <%=@reservation_listing.country%></p>
  <p>Zip Code: <%=@reservation_listing.zip_code%></p>
  <p>Description: <%=@reservation_listing.description%></p>
  <p>Home Type: <%=@reservation_listing.home_type%></p>
  <p>Room Type: <%=@reservation_listing.room_type%></p>
  <p>Accomodates: <%=@reservation_listing.accommodates%></p>
  <p>Minimum stay: <%=@reservation_listing.min_stay%></p>
  <p>Tags: <%=raw @reservation_listing.tag_list.map {|t| link_to t, tag_path(t) }.join(', ')%></p>
  <p>Total Price: <%=@reservation.total_price%></p>
  <div class="other-links">
    <%= link_to t("edit"), edit_reservation_path(@reservation)%>
    <%= link_to t("delete"), @reservation, method: :delete, data: {confirm:"Are you sure?"}%>
  </div>
  <hr>
