<!DOCTYPE html>
<html>
<head><meta name="viewport" content="width=device-width, intial-scale=1.0">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <title>BB8nb</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="icon" type="image/png" href="http://orig04.deviantart.net/04bb/f/2015/353/b/4/bb8_approves_by_iint-d9kp0qp.png" />

<!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

</head>


<body>




  <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="/" style="font-family: 'Pacifico', cursive;">BB8nb</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">


            <%if signed_in? %>
              <ul class="nav navbar-nav navbar-right">


              <li class="dropdown">
					      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Host <span class="caret"></span></a>
					      <ul class="dropdown-menu" role="menu">
						      <li><a href="#">Listings</a></li>
						      <li><a href="#">Yardım</a></li>
						      <li class="divider"></li>
						      <li><a href="#">Ayarlar</a></li>
						      <li><a href="#exit">Çıkış yap</a></li>
					      </ul>
				      </li>



                <li class="dropdown">
					        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i>  Notification <span class="badge">0</span></a>
					        <ul class="dropdown-menu" role="menu">
						        <li><a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Music</span> sayfası <span class="badge">Video</span> sayfasında etiketlendi</a></li>
						        <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Music</span> sayfasında iletiniz beğenildi</a></li>
						        <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Video</span> sayfasında iletiniz beğenildi</a></li>
						        <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Game</span> sayfasında iletiniz beğenildi</a></li>
					        </ul>
				        </li>


                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.first_name %> <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <% if signed_in? %>
                      <li><a href="/users/<%=current_user.id%>">Profile </a></li>
                      <li><a href="/users/<%=current_user.id%>/edit">Edit Profile</a></li>
                      <li><%= link_to 'Sign out', sign_out_path, method: :delete %> </li>
                    <% else %>
                      <li>  <%= link_to 'Sign in', sign_in_path %></li>
                    <%end%>
                    <li class="divider"></li>
                    <li><a href="/listings">My Listings</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            <%else%>
              <ul class="nav navbar-nav navbar-right">
                  <li>  <%= link_to 'Sign in', sign_in_path %></li>
              </ul>
            <%end%>
        </div>
    </div>
</div>





<div class='col-md-10 col-md-offset-1'>

<%= yield %>
<br>
</div>


<footer>
<div class="container text-center">
    <hr />
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">About us</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Product for Mac</a></li>
          <li><a href="#">Product for Windows</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Web analytics</a></li>
          <li><a href="#">Presentations</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Product Help</a></li>
          <li><a href="#">Developer API</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">© 2013 Company Name.</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>

<div class='col-md-offset-1'>
</div>

</footer>
</body>
</html>
